@model Fiap.Api.MonitoramentoAmbiental.Model.PrevisaoChuvaModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PrevisaoChuvaModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPrevisaoChuva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPrevisaoChuva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Previsao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Previsao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PrevisaoChuvaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
